@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply transition-colors duration-300;
}

/* Light theme styles */
[data-theme='light'] body {
  @apply bg-primary-50 text-primary-900;
}

/* Dark theme styles */
[data-theme='dark'] body {
  @apply bg-neutral text-primary-100;
}

/* Scrollbar styles for light theme */
body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  background: #CDA434; /* premium gold */
  border-radius: 4px;
}

body::-webkit-scrollbar-track {
  background: #F5E9DB; /* subtle champagne */
}

/* Scrollbar styles for dark theme */
[data-theme='dark'] body::-webkit-scrollbar-thumb {
  background: #968047; /* premium bronze */
}

[data-theme='dark'] body::-webkit-scrollbar-track {
  background: #222327; /* premium near-black */
}

/* Base styles for all themes */
body {
  min-height: 100vh;
}

